.luisa-chat {
  width: 256px;
  background-color: var(--chat-background);
  border-right: 1px solid var(--color-border);

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}

.luisa-chat-message {
  background: var(--chat-message-background);
  border: var(--chat-message-border);
  color: var(--chat-message-color);
  padding: var(--space-m);
  border-radius: var(--raduis-m);

}

.luisa-chat-message-settings {
  background: #fda29c;
  border: 1px solid #f91909;
  color: #f91909;
}

.luisa-chat-message-user {
  background: #eee;
  border: 1px solid #d1d1d1;
  color: #5b5b5b;
}

.luisa-chat-header {
  border-bottom: 1px solid var(--color-border);

  padding: var(--space-m);
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;

  div{
    text-align: center;
    flex-grow: 1;
    padding-left: 24px;
  }
}
.luisa-chat-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  flex-basis:0;
  padding: var(--space-m);
  overflow: auto;
}

.luisa-preview {
  flex-grow: 1;
}
