.luisa-hint-box{
    background: #eef2ff;
    border:1px solid #bccaf7;
    padding: var(--space-m);
    border-radius: var(--raduis-m);
}

.luisa-input {
    background: var(--form-background);
    color:var(--form-color);
    border:var(--form-border);
    padding: var(--form-padding);
    border-radius: var(--raduis-m);  
    outline: none;

}
textarea.luisa-input {
    height: 96px;
    resize: none;
}
.luisa-input:hover,
.luisa-input:focus{
    background: var(--form-focus-background);
    color:var(--form-focus-color);
    border:var(--form-focus-border);
    outline: none;
}

.luisa-input-fw{
    width: 100%;
}


textarea.luisa-input:disabled {
   opacity: 0.2;
   background: #999;
}

textarea.luisa-input:disabled:hover {
   opacity: 0.2;
   background: #999;
   border-color: #999;
}

.luisa-padding {
    padding: var(--space-m);
}

.luisa-icon-input{
    position: relative;
    .luisa-input {
        padding-right: 48px;
    }
    .luisa-icon {
        position: absolute;
        top:8px;
        right: 8px;
    }
}

.luisa-icon {
    stroke: var(--icon-color);
    cursor: pointer;
}

.luisa-icon:hover {
    stroke: var(--icon-hover-color);
}

.luisa-icon-active {
    stroke: var(--icon-active-color);
}

.luisa-flex-col{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.luisa-flex-grow {
    flex-grow: 1;
}

.luisa-flex-row{
    display: flex;
    flex-direction: row;
    gap:16px;
}

.luisa-select {
    background: var(--form-background);
    color:var(--form-color);
    border:var(--form-border);
    padding: 0px var(--form-padding);
    border-radius: var(--raduis-m);  
    outline: none;
    cursor: pointer;
    &.luisa-input{
        padding: var(--form-padding);
    }
}

.luisa-select:hover {
    background: var(--form-focus-background);
    color:var(--form-focus-color);
    border:var(--form-focus-border);
}

.luisa-zoom-textarea{
    height: 96px;
    .luisa-zoom-textarea-backdrop {
      transition: all, 0.2s;
    }

}

.luisa-zoom-textarea-max .luisa-zoom-textarea-backdrop{
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #33333374;
    display: flex;
    align-items: center;
    justify-content: center;
    .luisa-icon-input {
        width: 50%;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    }
    textarea {
        height: 256px;
        border: 0px;
    }
}

.luisa-button{
    background: #111;
    color:#fff;
    padding: 8px 16px;
    border-radius: var(--raduis-m);  
    border: none;
    cursor: pointer;

    &:hover{
        background: #000;
    }
}

.luisa-button-bar{
    display: flex;
    justify-content: flex-end;
}

.luisa-form-row{
    display: flex;
    flex-direction: column;

    label {
        font-weight: 600;
    }
}

.luisa-iframe{
    position: absolute;
    top: 32px;
    right:32px;
    overflow: hidden;
    width: 0px;
    height: 0px;

    iframe {
        border: none;
    }

    &.luisa-iframe-open {
        width: auto;
        height: auto;
        border:0px;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    }
}