.luisa-workspace {
    background: var(--workspace-background);
    width: 100%;
    height: 100vh;
    display: flex;
}

.luisa-sidebar {
    background-color: var(--sidebar-background);
    width: 256px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: var(--space-m);
    border-right: 1px solid var(--color-border);
    display: none;
}

.luisa-main {
    background-color: var(--main-background);
    padding: var(--space-l);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.luisa-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    gap: 16px;
}

.luisa-main-content-header {
    background-color: var(--card-background); 
    border-bottom: 1px solid var(--color-border);
    padding: var(--space-m);
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    > div {
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
    }
}

.luisa-main-content-body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow:1;
    overflow: auto;
}

.luisa-main-content-loading {
    color: #999;
    font-size: 24px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
}

.luisa-preview-size-m {

}
